[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colour-checker-detection = {extras = ["development"], version = "*"}
opencv-python = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
scikit-learn = "*"
colormath = "*"

[dev-packages]

[requires]
python_version = "3.10"
